---
import Flex from "./Flex.astro";

const { info } = Astro.props;
const { email, webpage, linkedUrl, githubUrl } = info;
---

<div class="print">
  <Flex>
    <p>Email:</p>
    <h3>
      {email}
    </h3>
  </Flex>
  <Flex>
    <p>Portfolio:</p>

    <a href={"https://sebastianchaca-portfolio.vercel.app/"}>
      https://sebastianchaca-portfolio.vercel.app/
    </a>
  </Flex>
  <Flex>
    <p>Online Cv:</p>

    <a href={webpage}>
      {webpage}
    </a>
  </Flex>
  <Flex>
    <p>Linkedin:</p>
    <a href={linkedUrl}>
      {linkedUrl}
    </a>
  </Flex>
  <Flex>
    <p>Github:</p>
    <a href={githubUrl}>
      {githubUrl}
    </a>
  </Flex>
</div>
<style>
  p,
  a {
    font-size: 0.7rem;
  }
  h3 {
    font-size: 0.7rem;
    font-weight: 400;
  }
</style>
